name: Test deployment of documentation

on:
  pull_request:
    branches: [main]
  workflow_dispatch:
  

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: npm
      - name: Test build
        working-directory: website
        run: |
          npm install
          npm ci
          npm run build
