# Based on https://docusaurus.io/docs/deployment#triggering-deployment-with-github-actions
# At times doesn't fail, even when deployment is broken
name: Test deployment of documentation

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - run: pip install docspec_python==2.2.1 git+https://github.com/nonprofittechy/pydoc-markdown
      - uses: actions/checkout@v3
        with:
          path: docs
      - uses: actions/checkout@v3
        with:
          repository: SuffolkLITLab/docassemble-AssemblyLine
          path: docassemble-AssemblyLine
      - uses: actions/checkout@v3
        with:
          repository: SuffolkLITLab/docassemble-AssemblyLine
          path: FormFyxer
      - uses: actions/checkout@v3
        with:
          repository: SuffolkLITLab/docassemble-ALToolbox
          path: docassemble-ALToolbox
      - uses: actions/checkout@v3
        with:
          repository: SuffolkLITLab/docassemble-EFSPIntegration
          path: docassemble-EFSPIntegration
      - name: Go to Docs directory
        run: |
          cd docs
          pydoc-markdown
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: docs/package-lock.json
      - name: Test build
        run: |
          cd docs
          npm ci
          npm run build
